# Node
node_modules/
dist/
.env
.env.*.local
*.log

# Python
.venv/
__pycache__/
*.pyc
.env

# PS scripts
*.ps1

# Misc
.DS_Store
coverage/
.turbo/
backend/docs/temp/postgres-init.md

*.sql
*.json
!backend/docs/postman/
!backend/docs/postman/*.json
!backend/src/db/migrations/
!backend/src/db/migrations/**/
!backend/src/db/migrations/**/*.sql
!backend/src/db/migrations/**/*.json
backend/docs/review.txt
backend/Untitled-1.txt
TODOS.txt
backend/socketTodos.txt
.amazonq/chats/q-dev-chat-2026-09-06.md
.amazonq/rules/memory-bank/guidelines.md
.amazonq/rules/memory-bank/tech.md
.amazonq/rules/memory-bank/product.md
.amazonq/rules/memory-bank/structure.md
